.alert p {
  margin-bottom: 0 !important;
}
body {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  margin: 30px 0;
}
.contenido {
  padding: 20px;
}
.contenido-principal {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}
.presupuesto p {
  margin-bottom: 0;
  font-weight: bold;
}
.presupuesto p span {
  font-weight: normal;
}
#gastos {
  margin-bottom: 30px;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 4.8rem !important;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #042b4d;
  margin-bottom: 30px;
  font-size: 3rem !important;
  text-align: center;
}
.campo {
  margin-bottom: 2rem;
}
.error {
  text-align: center;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.gastos-realizados {
  margin-bottom: 2rem;
}
.gastos-realizados li {
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}
.gastos-realizados li:last-of-type {
  margin-bottom: 0 !important;
}
.gastos-realizados li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}
.gastos-realizados li p .gasto {
  background-color: #087ba8;
  border-radius: 10px;
  padding: 1rem;
  color: white;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 192, 118) !important;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(48, 122, 35) !important;
  border-color: rgb(0, 0, 0);
  outline: 0;
}
